{% extends '::baseBack.html.twig' %}
{% block body -%}
<!-- ==================== PAGE CONTENT ==================== -->
<div class="content">

    <!-- ==================== WIDGETS CONTAINER ==================== -->
    <div class="container-fluid">


        <!-- ==================== END OF ROW ==================== -->
        <div class="row-fluid">
            <div class="span12">
                <div class="containerHeadline">
                    <i class="icon-zoom-in"></i>

                    <h2>Filtre de recherche</h2>
                    <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                </div>
                <div class="floatingBox  ">
                    <div class="container-fluid" style="padding: 10px">
                        {{ form_start(form, {'method': 'GET','attr': {'class': 'form-horizontal contentForm','style':'padding:0; margin:0'}}) }}
                        <div class="span5">
                            <label>Nom</label>
                            {{ form_widget(form.name,{'attr':{'class':'span10 selectpicker','data-live-search':'true'}}) }}
                        </div>
                        <div class="span5">
                            <label>Email</label>
                            {{ form_widget(form.email,{'attr':{'class':'span10 selectpicker','data-live-search':'true'}}) }}
                        </div>

                        <div class="span2">
                            <label>&nbsp;</label>
                            <input type="submit" value="Rechercher" class="btn btn-success" />
                        </div>

                        {{ form_end(form) }}
                    </div>

                </div>
                {% if  app.user.roles[0]!= 'FINANCIER' %}

                <a href="{{ path('add_responsablecaissier_manager') }}" class="btn btn-danger">
                    <i class="icon-user" style="opacity: 1;"></i> Ajouter un responsable caisse
                </a>
                {% endif %}
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-success">
                            <button data-dismiss="alert" class="close" type="button">×</button>
                            {{ flashMessage|trans }}
                        </div>

                    {% endfor %}
                {% endfor %}
                <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                <div class="containerHeadline">
                    <i class="icon-table"></i><h2>Liste des responsables</h2>
                </div>
                <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->

                <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                <div class="floatingBox table">
                    <div class="container-fluid">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom et Prénom</th>
                                    <th>Banque</th>
                                    <th>Agence</th>
                                    <th>Rib</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Montant espèce</th>
                                    <th>Montant chéque</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for entity in pagination  %}
                                        {% set espece = montantEspece(entity.id) %}
                                        {% set cheque = montantCheque(entity.id) %}
                                <tr>
                                    <td><a href="{{ path('view_responsablecaissier_manager', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                    <td>{{ entity.bank }}</td>
                                    <td>{{ entity.agency }}</td>
                                    <td>{{ entity.rib }}</td>
                                    <td>{{ entity.address }}</td>
                                    <td>{{ entity.phone }}</td>
                                    <td>{{ espece }}</td>
                                    <td>{{ cheque }}</td>
                                    <td>
                                        <div class="btn-toolbar" style="margin: 0;">
                                            <div class="btn-group">
                                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                    Action <span
                                                            class="caret"></span></button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="{{ path('user_contract_homepage', {'user_id': entity.id}) }}">Contrat</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('view_responsablecaissier_manager', {'id': entity.id}) }}">Afficher</a>
                                                    </li>
                                                    {% if  app.user.roles[0]!= 'FINANCIER' %}

                                                    <li>
                                                        <a href="{{ path('update_responsablecaissier_manager', {'id': entity.id}) }}">Modifier</a>
                                                    </li>
                                                    {% endif %}
                                                    {% if  app.user.roles[0]== 'DAF'  or app.user.roles[0]== 'ROLE_SUPER_ADMIN'%}

                                                        <li>
                                                            <a href="{{ path('historique_responsablecaissier_manager', {'id': entity.id}) }}">Historique</a>
                                                        </li>
                                                        <li>
                                                            <a
class='paye' href="javascript:retraitArgent('{{ path('retrait_daf_manager', { 'id': entity.id }) }}',{{ espece + cheque }})"

															>Retrait</a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>  
                            {# display navigation #}
                        <div class="pagination pagination-large" style="text-align: center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
</div>
    <link rel="stylesheet" type="text/css" href="{{ asset('RessourcesBack/css/bootstrap-select.css') }}">

<!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('RessourcesBack/js/bootstrap-select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('public/js/sweet-alert.js') }}"></script>

    <script>
	function retraitArgent(url ,montant) {
                swal({
                            title: "Voulez vous Retiré la somme de " + montant + " TND",
                            text: "",
                            type: "error",
                            showCancelButton: true,
                            confirmButtonClass: 'btn-danger',
                            confirmButtonText: 'Confirmer'

                        },
                        function (isConfirm) {
                            if (isConfirm) {
                                // ajax delete delete_mes_adresse

                                $(location).attr('href', url);

                            } else {

                            }
                        }
                )
                ;
            }
        $(document).ready(function () {
            $('.alert-success').delay(2000).fadeOut();
        });

    </script>
{% endblock %}