{% extends '::baseBack.html.twig' %}
{% block body -%}
    <!-- ==================== PAGE CONTENT ==================== -->
    <div class="content">

        <!-- ==================== WIDGETS CONTAINER ==================== -->
        <div class="container-fluid">
            <a href="{{ path('dash_sellingpoint_add',{ 'partid': partid }) }}"><button class="btn btn-danger" type="button">Ajouter</button></a>

            <a href="{{ path('back_partner') }}" class="btn btn-inverse pull-right"><i class="icon-list"></i> Liste des partenaires</a>
            <!-- ==================== END OF ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-table"></i>

                        <h2>Liste des points de vente de partenaire {{ user.name }} </h2>
                    </div>
                    <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->

                    <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Point de vente</th>
                                    <th width="25%">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{{ entity.name }}</td>

                                        <td>
                                            <div class="btn-toolbar" style="margin: 0;">
                                                <div class="btn-group">
                                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                        Action <span
                                                                class="caret"></span></button>
                                                    <ul class="dropdown-menu pull-right">

                                                        <li>
                                                            <a href="{{ path('dash_sellingpoint_show', { 'id': entity.id ,'partid':partid}) }}">Afficher</a>
                                                        </li>


                                                            <li>
                                                                <a href="{{ path('dash_sellingpoint_update', { 'id': entity.id,'partid':partid }) }}">Modifier</a>
                                                            </li>
                                                        {% if app.user.roles[0]=='ROLE_SUPER_ADMIN' %}
                                                            <li>
                                                                <a href="javascript:confirmdeletbox('{{ path('dash_sellingpoint_delete', { 'id': entity.id,'partid':partid }) }}')">Supprimer</a>
                                                            </li>
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </div>





                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {# display navigation #}
                            <div class="pagination pagination-large" style="text-align: center">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
    </div>

    <!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
