{% extends '::baseBack.html.twig' %}

{% block body -%}
    <div class="content">
        <div class="container-fluid">

            <!-- ==================== COMMON ELEMENTS ROW ==================== -->
            <div class="row-fluid">

                <div class="span12">
                {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <br/>
        <div class="alert {{ type }}">
            <button data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Gestion des coupons</h2>
</div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            <div class="container-fluid">
							Saisissez le numéro du coupon puis cliquez sur "Valider" pour marquer le coupon "Consommé"
                                <form class="form-horizontal contentForm" method="POST"
                                      action="{{ path('coupon_manager') }}">
                                        <div class="control-group">
                                            <label class="control-label">N° coupon</label>
                                            <div class="controls">
                                                {{ form_widget(form.code,{'attr':{'autofocus':''}}) }}
                                            </div>
                                        </div>
                                        <div class="formFooter">
                                            <button type="submit" class="btn btn-success"><i class="icon-ok"> </i> Valider</button>
                                            <button type="reset" class="btn btn-danger"><i class="icon-remove"> </i>Effacer</button>
                                            {{ form_widget(form._token) }}
                                        </div>
                                        </form>
                            </div>
</div>
                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('.alert-success').delay(5000).fadeOut();
        });
        $(document).ready(function () {
            $('.alert-error').delay(5000).fadeOut();
        });

    </script>
{% endblock %}