{% extends '::baseBack.html.twig' %}
 {% block stylesheets %}
     <link href="{{ asset('RessourcesBack/css/fullcalendar/fullcalendar.css') }}" rel='stylesheet'/>
 {% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            {% for entry in deal.planning.defaultannexe.protocol.user.sellingpoint  %}
            {% for item in entry.schedule %}
            for (i ={{ item.openTimeMorning|date('H') }}; i <={{ item.closeTimeMorning|date('H') }}; i++) {
                $("#bloc{{ entry.id }} #{{ item.day }}" + i).attr('style', "background:#F0F8DB")
                $("#bloc{{ entry.id }} #{{ item.day }}" + i).html("<span class='hidden'>1</span>")
            }
            for (i ={{ item.openTimeAfternoon|date('H') }}; i <={{ item.closeTimeAfternoon|date('H') }}; i++) {
                $("#bloc{{ entry.id }} #{{ item.day }}" + i).attr('style', "background:#F0F8DB")
                $("#bloc{{ entry.id }} #{{ item.day }}" + i).html("<span class='hidden'>1</span>")
            }
            {% endfor %}
            {% for i in 0..23 %}
            $ligne = $("#bloc{{ entry.id }} #row{{ i }}")
            console.log($ligne.find('td').eq(0).html())
            if ($ligne.find('td').eq(0).html() == ""
                    && $ligne.find('td').eq(1).html() == ""
                    && $ligne.find('td').eq(2).html() == ""
                    && $ligne.find('td').eq(3).html() == ""
                    && $ligne.find('td').eq(4).html() == ""
                    && $ligne.find('td').eq(5).html() == ""
                    && $ligne.find('td').eq(6).html() == "") {
                $ligne.remove();
            }
            {% endfor %}
            {% endfor %}
        });

    </script>
{% endblock %}
{% block body -%}
    <!-- ==================== PAGE CONTENT ==================== -->
    <div class="content">
        <!-- ==================== WIDGETS CONTAINER ==================== -->
        <div class="container-fluid">
            <a href="{{ path('update_deal_manager2', { 'id': deal.id,'type':1}) }}">
                <button class="btn btn-info" type="button"><i class="icon-pencil"></i> Modifier</button>
            </a>
            <a href="{{ path('redactordeal_deal') }}">
                <button class="btn btn-inverse pull-right" type="button" id="form_submit"><i class="icon-list"></i>
                    Liste
                </button>
            </a>

            <!-- ==================== END OF ROW ==================== -->
            <div class="row-fluid">
                <div class="span4">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Planning</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <table class="table table-bordered">
                                    <tbody>

                                    <tr>
                                        <th>Etat</th>
                                        <td> {% if deal.planning.state == 0 %}Pré-planifié{% endif %}
                                            {% if deal.planning.state == 1 %}Planifié{% endif %}
                                            {% if deal.planning.state == 2 %}Rédigé{% endif %}
                                            {% if deal.planning.state == 3 %}Publié{% endif %}</td>
                                    </tr>

                                    <tr>
                                        <th>Objet</th>
                                        <td>                                 {{ deal.planning.object }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Tarif</th>
                                        <td>                                 {{ deal.planning.tariff }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>                                 {{ deal.planning.description }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de début</th>
                                        <td>                                 {{ deal.planning.startDate|date('d-m-Y') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date de fin</th>
                                        <td>                                                                 {{ deal.planning.endDate|date('d-m-Y') }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Remarques</th>
                                        <td>                                                                 {{ deal.planning.remarks }}

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Catégorie</th>
                                        <td>{{ deal.planning.categoryId }}</td>
                                    </tr>
                                    <tr>
                                        <th>Région</th>
                                        <td>
                                            {{ deal.planning.regionId }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
                <div class="span4">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Annexe {{ deal.planning.defaultannexe.object| raw }}</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <table class="table table-bordered">
                                    <tbody>

                                    <tr>
                                        <th>Objet</th>
                                        <td>{{ deal.planning.defaultannexe.object| raw }}</td>
                                    </tr>
                                    <tr>
                                        <th>Minimum de coupons</th>
                                        <td>{{ deal.planning.defaultannexe.minCoupon }}</td>
                                    </tr>
                                    <tr>
                                        <th>Réservation</th>
                                        <td>{{ deal.planning.defaultannexe.booking }}</td>
                                    </tr>
                                    <tr>
                                        <th>Remarques</th>
                                        <td>{{ deal.planning.defaultannexe.remark| raw  }}</td>
                                    </tr>
                                   
                                    <tr>
                                        <th>Date de publication </th>
                                        <td>{{ deal.planning.defaultannexe.releaseDate|date('d-m-Y H:i:s') }}</td>
                                    </tr>

                                    <tr>
                                        <th>Commission fixe (montant)</th>
                                        <td>{{ deal.planning.defaultannexe.fixedCommission }}</td>
                                    </tr>
                                    <tr>
                                        <th>Commission variable (%)</th>
                                        <td>{{ deal.planning.defaultannexe.variableCommission }}</td>
                                    </tr>
                                    <tr>
                                        <th>Protocole</th>
                                        <td>{{ deal.planning.defaultannexe.protocol }}</td>
                                    </tr>
                                    <tr>
                                        <th>Planning</th>
                                        <td>{{ deal.planning.defaultannexe.planning }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
                <div class="span4">
                    <div class="containerHeadline">
                        <i class="icon-table"></i>

                        <h2>Partenaire : {{ deal.planning.defaultannexe.protocol.user }}</h2>
                    </div>
                    <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->
                    <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">
                            <table class="table table-bordered">
                                <tbody>

                                <tr>
                                    <th>Banque</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.bank }}</td>
                                </tr>
                                <tr>
                                    <th>Agence</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.agency }}</td>
                                </tr>
                                <tr>
                                    <th>RIB</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.rib }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.address }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Logo</th>
                                    <td>{% if deal.planning.defaultannexe.protocol.user.profilePicturePath!="" %}<img
                                            src="{{ asset('uploads/user/'~deal.planning.defaultannexe.protocol.user.profilePicturePath)|imagine_filter('user_profil') }}"
                                            width="200" />{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Site Web</th>
                                    <td>{{ deal.planning.defaultannexe.protocol.user.webSite }}</td>
                                </tr>
                                <tr>
                                    <th>Page facebook</th>
                                    <td><a href="{{ deal.planning.defaultannexe.protocol.user.fbpage }}" target="_blank">{{ deal.planning.defaultannexe.protocol.user.fbpage }}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            {% for entity in deal.planning.defaultannexe.reference %}
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-table"></i>

                        <h2>Reference {{ entity.title }}</h2>
                    </div>
                    <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->
                    <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Titre</th>
                                    <td>{{ entity.title }}</td>
                                </tr>
                                <tr>
                                    <th>Prix boutique</th>
                                    <td>{{ entity.shopPrice }}</td>
                                </tr>
                                <tr>
                                    <th>Prix BIGDeal</th>
                                    <td>{{ entity.bigdealPrice }}</td>
                                </tr>
                                <tr>
                                    <th>max coupon</th>
                                    <td>{{ entity.maxCoupon }}</td>
                                </tr>
                                <tr>
                                    <th>Les marchandises retournées</th>
                                    <td>{{ entity.returnedGoods }}</td>
                                </tr>
                                <tr>
                                    <th>Livraison</th>
                                    <td>{% if entity.shipping ==1 %} Oui {% else %} Non {% endif %}</td>
                                </tr>
                                {% if entity.weight|length>0 %}
                                <tr>
                                    <th>Poids</th>
                                    <td>{{ entity.weight }}</td>
                                </tr>
                                {% endif %}
                                {% if entity.length|length>0 %}
                                <tr>
                                    <th>Longueur</th>
                                    <td>{{ entity.length }}</td>
                                </tr>
                                {% endif %}
                                {% if entity.width|length>0 %}
                                <tr>
                                    <th>Largeur</th>
                                    <td>{{ entity.width }}</td>
                                </tr>
                                {% endif %}
                                {% if entity.height|length>0 %}
                                <tr>
                                    <th>Hauteur</th>
                                    <td>{{ entity.height }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for entry in deal.planning.defaultannexe.protocol.user.sellingpoint  %}
            <div class="row-fluid" id="bloc{{ entry.id }}">
                <div class="span4">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-zoom-in"></i>

                        <h2>Point de vente : {{ entry.name }}</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">

                            <table class="table table-bordered">
                                <tbody>


                                <tr>
                                    <th>Adresse :</th>
                                    <td>{{ entry.adress }}</td>
                                </tr>
                                <tr>
                                    <th>Latitude :</th>
                                    <td>{{ entry.latitude }}</td>
                                </tr>
                                <tr>
                                    <th>Longitude :</th>
                                    <td>{{ entry.longitude }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone :</th>
                                    <td>{{ entry.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Visible :</th>
                                    <td>{% if entry.visible == 1 %} Oui {% else %} Non {% endif %}</td>
                                </tr>
                                {% if entry.visibleAdress|length>0 %}
                                    <tr>
                                        <th>Adresse Visible :</th>
                                        <td>{{ entry.visibleAdress }}</td>
                                    </tr>
                                {% endif %}
                                {% if entry.latVisibleAdress|length>0 %}
                                    <tr>
                                        <th>latVisibleAdress :</th>
                                        <td>{{ entry.latVisibleAdress }}</td>
                                    </tr>
                                {% endif %}
                                {% if entry.lonVisibleAdress|length>0 %}
                                    <tr>
                                        <th>lonVisibleAdress :</th>
                                        <td>{{ entry.lonVisibleAdress }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Nombre des employees :</th>
                                    <td>{{ entry.nbrEmployee }}</td>
                                </tr>
                                <tr>
                                    <th>Capacité par heure :</th>
                                    <td>{{ entry.capacityPerHour }}</td>
                                </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>

                <div class="span8">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-calendar"></i>

                        <h2>Emploi de temps</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">

                            <table class="table table-condensed table-bordered">
                                <thead style="">
                                <tr style="">
                                    <th width="9%">Heure/Jour</th>
                                    <th width="13%">Lundi</th>
                                    <th width="13%">Mardi</th>
                                    <th width="13%">Mercredi</th>
                                    <th width="13%">Jeudi</th>
                                    <th width="13%">Vendredi</th>
                                    <th width="13%">Samedi</th>
                                    <th width="13%">Dimanche</th>
                                </tr>
                                </thead>
                                <tbody style="">
                                {% for i in 0..23 %}
                                    <tr id="row{{ i }}">
                                        <th width="9%">{{ i }}:00</th>
                                        <td width="13%" id="Lundi{{ i }}"></td>
                                        <td width="13%" id="Mardi{{ i }}"></td>
                                        <td width="13%" id="Mercredi{{ i }}"></td>
                                        <td width="13%" id="Jeudi{{ i }}"></td>
                                        <td width="13%" id="Vendredi{{ i }}"></td>
                                        <td width="13%" id="Samedi{{ i }}"></td>
                                        <td width="13%" id="Dimanche{{ i }}"></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>


            </div>
            {% endfor %}
        </div>
        <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
    </div>
    <!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
