{% extends '::baseBack.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row-fluid" style="margin-bottom:0">
            <div class="span12">
                <div class="row-fluid" style="margin-bottom:0">
                    <div class="span12">
                        <div class="containerHeadline">
                            <i class="icon-zoom-in"></i>

                            <h2>Filtre</h2>
                        </div>
                        <div class="floatingBox">
                            <div class="container-fluid">
                                <form onsubmit="return false;">
                                    <div class="span3">
                                        <label>Catégorie</label>
                                        <select class="span12" id="idcategorie" onchange="loadredactdeal()">
                                            <option value=""></option>
                                            {% for item in category %}
                                                {% if item.category|length>0 %}
                                                    <optgroup label="{{ item.name }}">
                                                        {% for item2 in item.category %}
                                                            <option value="{{ item2.id }}">{{ item2.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% else %}
                                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <label>Région</label>
                                        <select class="span12" id="idregion" onchange="loadredactdeal()">
                                            <option value=""></option>
                                            {% for item in region %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="span3">
                                        <label>Date de début</label>
                                        <input type="text" class="span10 datetime" onblur="loadredactdeal()" name="dated" id="dated"
                                               value="{{ dated|date('d/m/Y') }}"/>
                                    </div>
                                    <div class="span3">
                                        <label>Date de fin</label>
                                        <input type="text" name="datef" class="span10 datetime" onblur="loadredactdeal()" id="datef"
                                               value="{{ datef|date('d/m/Y') }}"/>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="titleLineOnRight pull-right">
            <li>
                <span class="usersBar">0</span>

                <h2 class="cyanText"></h2>
            </li>
            <li>
                <span class="visitsBar">0</span>

                <h2 class="redText"></h2>
            </li>

        </ul>
    </div>
    <div class="container-fluid">
        <!-- ==================== ROW ==================== -->
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">

                    <div class="span12">
                        <div class="containerHeadline">
                            <i class="icon-ticket"></i>

                            <h2>Nombre des deals par rédacteur</h2>

                            <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-refresh"
                                                                     onclick="loadRemboursements2Chart()"></i></div>
                        </div>

                        <div class="floatingBox">
                            <div class="container-fluid">
                                <div class="span8">

                                </div>
                                <div class="span4">
                                    <label>Rédacteur</label>
                                    <select class="span12" onchange="loadRemboursements2Chart()" id="idredaceur1">
                                        <option value="">Choisissez un rédacteur</option>
                                        {% for item in redacteur %}
                                            <option value="{{ item.id }}">{{ item }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="span12">
                                    <div class="demoPieChart" id="lastPieChart">

                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="span12">
                                    <table id="lastPieChartTable" class="table">
                                        <thead>
                                        <tr>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">

                        <div class="containerHeadline">
                            <i class="icon-ticket"></i>

                            <h2>Durée entre la génération et la rédation de deal</h2>

                            <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-refresh"
                                                                     onclick="loadRemboursements1Chart()"></i></div>
                        </div>

                        <div class="floatingBox">
                            <div class="container-fluid">
                                <div class="span12">
                                    <div class="demoPieChart" id="firstPieChart">

                                    </div>


                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="span12">
                                    <table id="firstPieChartTable" class="table">
                                        <thead>
                                        <tr>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span12">

                        <div class="containerHeadline">
                            <i class="icon-ticket"></i>

                            <h2>Durée de rédaction</h2>

                            <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                            <div class="controlButton pull-right"><i class="icon-refresh"
                                                                     onclick="loadRemboursements3Chart()"></i></div>
                        </div>

                        <div class="floatingBox">
                            <div class="container-fluid">
                                <div class="span8">

                                </div>
                                <div class="span4">
                                    <label>Rédacteur</label>
                                    <select class="span12" onchange="loadRemboursements3Chart()" id="idredaceur2">
                                        <option value="">Choisissez un rédacteur</option>
                                        {% for item in redacteur %}
                                            <option value="{{ item.id }}">{{ item }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="span12">
                                    <div class="demoPieChart" id="firstPieChart3">

                                    </div>


                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="span12">
                                    <table id="firstPieChart3Table" class="table">
                                        <thead>
                                        <tr>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('RessourcesBack/css/bootstrap-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('RessourcesBack/css/jquery.dataTables.css') }}">

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('RessourcesBack/js/vendor/jquery.sparkline.min.js') }}"></script>               <!-- small charts plugin -->
    <script src="{{ asset('RessourcesBack/js/vendor/jquery.flot.min.js') }}"></script>                    <!-- charts plugin -->
    <script src="{{ asset('RessourcesBack/js/vendor/jquery.flot.resize.min.js') }}"></script>             <!-- charts plugin / resizing extension -->
    <script src="{{ asset('RessourcesBack/js/vendor/jquery.flot.pie.min.js') }}"></script>                <!-- charts plugin / pie chart extension -->
    <script src="{{ asset('RessourcesBack/js/bootstrap-select.js') }}"></script>
    {% javascripts '@BackDashBundle/Resources/public/js/jquery.dataTables.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var linkajx1 = "{{ path('back_dash_ajx_redacteur_cas1') }}";
        var linkajx2 = "{{ path('back_dash_ajx_redacteur_cas2') }}";
        var linkajx3 = "{{ path('back_dash_ajx_redacteur_cas3') }}";
        var linkajx4 = "{{ path('back_dash_ajx_redacteur_cas4') }}";

    </script>
    {% javascripts '@BackDashBundle/Resources/public/js/chefredacteur.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $(".datetime").inputmask("date");
        });


    </script>

{% endblock %}