{% for item in couponReserver %}
    <!--Coupon {{ coupon }} - Date réservaion : {{ item.booking|date('d-m-Y H:i:s') }} Réserver à {{ item.dcr|date('d-m-Y H:i:s') }}-->
{% endfor %}
{% set dateAuj = 'now'|date('Y-m-d') %}
{% set dateAuj1 = 'now'|date_modify("+2 day") %}
{% set dateAuj = dateAuj1|date('Y-m-d') %}
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block stylesheets %}
	
    <!-- Font-awesome Icons -->
    <link rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/css/reservation.css') }}">
{% endblock %}
<title>{% block title %}Bigdeal :: Réservation{% endblock %}</title>

<div class="wrapper">
    <div class="container">
        <div id="content">
            <div class="calendar">
                <div class="row">
                    <div class="col-md-4">
                        <a class="navbar-brand" href="#"><img src="{{ asset('public/images/logo.png') }}" alt="Big Deal"
                                                              class="img-responsive"/></a>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="date-container">
                            <div class="col-xs-2">
                                <a href="{{ path('front_booking_step2',{'code_coupon':coupon, 'month':prev_month , 'year':prev_year}) }}">
                                    <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
                                </a>
                            </div>
                            <div class="col-xs-8">
                                <h2 class="date">{{ getNamMonth(month) }} - {% if month != 12 %} {{ getNamMonth(month +1 ) }} {% else %} {{ getNamMonth(next_month) }} {%endif%}</h2>
                                <h5 class="text-center"> {{ year }}</h5>
                            </div>
                            <div class="col-xs-2">
                                <a href="{{ path('front_booking_step2',{'code_coupon':coupon, 'month':next_month , 'year':next_year}) }}">
                                    <span data-toggle="datepicker" class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row legendC">
					<div class="col-sm-offset-3 col-sm-3 col-xs-6">
						<div class="color-legend">
							<span class="legendColor dispo">&nbsp;</span> <span class="legendLabel">Disponible </span>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="color-legend">
							<span class="legendColor nondispo">&nbsp;</span> <span class="legendLabel">Complet</span>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table-condensed table-bordered">
                                <thead>
                                <tr>
                                    {% for day1 in daysOfWeek %}
                                        <th>{{ day1 }}</th>
                                    {% endfor %}
                                    {% set  currentDay = 1 %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% if  dayOfWeek > 0 %}
                                        <td colspan='{{ dayOfWeek }}' class="nondispo">&nbsp;</td>
                                    {% endif %}
                                    {% set month = afficherLeMonth(month) %}
                                    {% for key,currentDay in currentDay..numberDays %}
                                    {% if currentDay <= numberDays %}
                                    {% if dayOfWeek == 7 %}
                                    {% set dayOfWeek = 0 %}
                                </tr>

                                <tr>
                                    {% endif %}
                                    {% set currentDayRel = currentDayRel(currentDay) %}
                                    {% set date1 =  year~"-"~month~"-"~currentDayRel %}
                                    {% set dispoHoraire = dispo(date1,deal) %}
                                    {% set dispoDate = dispoDate(deal,date1) %}
                                    {% set nombreReservation = nombrereservationParJour(date1,deal) %}
                                    {% set nbrHeureTravailler = nombreHeureTravailler(date1,deal) %}
                                    {% set capacite = capaciteParHeure(deal) %}

                                    {% if dayOfWeek ==6 %}
                                    <td rel='{{ date1 }}'
                                            {% if dispoDate %}
                                                {% if (dispoHoraire) and ( date1 >= dateAuj ) and (nbrHeureTravailler > nombreReservation) %} 
                                                    class="dispo"  {% else %} class="nondispo" {% endif %} {% endif %}  {% if not dispoDate %}
                                        class="nondispo"
                                            {% endif %}
                                            {% if date1 < dateAuj %}
                                                class="nondispo"
                                            {% endif %}
                                            {% if nbrHeureTravailler == nombreReservation %}
                                                class="nondispo"
                                            {% endif %}
                                            >
                                {% else %}
                                    <td rel='{{ date1 }}' {% if dispoDate %}
                                        {% if (dispoHoraire) and ( date1 >= dateAuj ) and (nbrHeureTravailler > nombreReservation) %}
                                            class="dispo"  {% else %} class="nondispo" {% endif %} {% endif %}
                                            {% if not dispoDate %}
                                        class="nondispo"
                                            {% endif %}
                                            {% if date1 < dateAuj %}
                                                class="nondispo"
                                            {% endif %}
                                            {% if nbrHeureTravailler == nombreReservation %}
                                                class="nondispo"
                                            {% endif %}
                                           >
                                        {% endif %}

                                        {% if dispoDate %}
                                            {% if (dispoHoraire) and ( date1 >= dateAuj )  and (nbrHeureTravailler > nombreReservation)  %}
                                                {{ currentDay }}
                                                <div class="mask">
                                                    <a href="{{ path('front_booking_user', { 'deal': deal ,  'date': date1,'codeCoupon':codeCoupon }) }}"
                                                       class="btn btn-primary" title="Reserver" data-toggle="modal"
                                                       data-target="#myModal"><i class="fa fa-pencil-square-o"></i></a>
                                                </div>

                                            {% else %}
                                                {{ currentDay }}
                                            {% endif %}
                                        {% else %}
                                            {{ currentDay }}
                                        {% endif %}
                                    </td>
                                    {% set dayOfWeek = dayOfWeek +1 %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if  dayOfWeek != 7 %}
                                        {% set remainingDays = 7 - dayOfWeek %}
                                        <td colspan='{{ remainingDays }}' class="nondispo">&nbsp;</td>
                                    {% endif %}
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table-condensed table-bordered">
                                <thead>
                                <tr>
                                    {% for day2 in daysOfWeek %}
                                        <th>{{ day2 }}</th>
                                    {% endfor %}
                                    {% set  currentDay1 = 1 %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% if  dayOfWeek1 > 0 %}
                                        <td colspan='{{ dayOfWeek1 }}' class="nondispo">&nbsp;</td>
                                    {% endif %}
                                    {% if  month == 12 %}
									{% set annne = next_year %}
									{% else %}
									{% set annne = year %}
									{%endif %}
									{% if month != 12 %}
                                    {% set month = afficherLeMonth(month +1 ) %}
									
									{%else%}
									 {% set month = afficherLeMonth(next_month ) %}

									{%endif%}
                                    {% for key,currentDay1 in currentDay1..numberDays1 %}
                                    {% if currentDay1 <= numberDays1 %}
                                    {% if dayOfWeek1 == 7 %}
                                    {% set dayOfWeek1 = 0 %}
                                </tr>

                                <tr>
                                    {% endif %}
                                    {% set currentDayRel1 = currentDayRel(currentDay1) %}
                                    {% set date2 =  annne~"-"~month ~"-"~currentDayRel1 %}
                                    {% set dispoHoraire1 = dispo(date2,deal) %}
                                    {% set dispoDate1 = dispoDate(deal,date2) %}
                                    {% set nombreReservation = nombrereservationParJour(date2,deal) %}
                                    {% set nbrHeureTravailler = nombreHeureTravailler(date2,deal) %}
                                    {% set capacite = capaciteParHeure(deal) %}


                                    {% if dayOfWeek1 ==6 %}
                                    <td rel='{{ date2 }}'
                                            {% if dispoDate1 %}
                                                {% if (dispoHoraire1) and ( date2 >= dateAuj )  and (nbrHeureTravailler > nombreReservation) %}
                                                    class="dispo"   {% else %} class="nondispo " {% endif %} {% endif %}
                                            {% if not dispoDate1 %}
                                                class="nondispo"
                                            {% endif %}
                                            {% if nbrHeureTravailler == nombreReservation %}
                                                class="nondispo"
                                            {% endif %}
                                            >
                                {% else %}
                                    <td rel='{{ date2 }}'
                                            {% if dispoDate1 %}
                                                {% if (dispoHoraire1) and ( date2 >= dateAuj )  and (nbrHeureTravailler > nombreReservation) %}
                                                    class="dispo"
                                                {% endif %}
                                            {% else %} class="nondispo "
                                            {% endif %}
                                            {% if not dispoDate1 %}
                                                class="nondispo"
                                            {% endif %}
                                            {% if date2 < dateAuj %}
                                                class="nondispo"
                                            {% endif %}
                                            {% if nbrHeureTravailler == nbrHeureTravailler %}
                                                class="nondispo"
                                            {% endif %}
                                            >
                                        {% endif %}

                                        {% if dispoDate1 %}
                                            {% if (dispoHoraire1) and ( date2 >= dateAuj ) and nbrHeureTravailler > nombreReservation %}
                                                {{ currentDay1 }}
                                                <div class="mask">
                                                    <a href="{{ path('front_booking_user', { 'deal': deal ,  'date': date2,'codeCoupon':codeCoupon }) }}"
                                                       class="btn btn-primary" title="Reserver" data-toggle="modal"
                                                       data-target="#myModal"><i class="fa fa-pencil-square-o"></i></a>
                                                </div>

                                            {% else %}

                                                {{ currentDay1 }}
                                            {% endif %}
                                        {% else %}
                                                        
                                            {{ currentDay1 }}
                                        {% endif %}
                                    </td>
                                    {% set dayOfWeek1 = dayOfWeek1 +1 %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if  dayOfWeek1 != 7 %}
                                        {% set remainingDays1 = 7 - dayOfWeek1 %}
                                        <td colspan='{{ remainingDays1 }}' class="nondispo">&nbsp;</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="myModal" class="modal fade custom-modal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% block javascripts %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('public/js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/jquery-migrate-1.2.1.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{ asset('public/js/bootstrap.min.js') }}"></script>
<script>
$(document).ready(function() {
  $(".modal").on("hidden.bs.modal", function() {
    $(".modal-body").html("");
    $(".modal-title").html("");
  });
});

</script>
    <!-- Main JS -->
{% endblock %}
