<div class="deal_init_values" style="width:100% !important;">
    <a href="#" class="delete_Item"><strong>X</strong> Supprimer catégorie</a> <br/>
    <div class="span3">
        <div class="control-group ">
            <label class="control-label required" for="back_dashbundle_sms_categoris">Categories</label>
            <div class="controls">
                <select multiple="multiple" name="categorie[]" id="categorie{{ id }}" onchange="remplirDeal1({{ id }})">
                    {% for item in category %}
                        {% if item.category|length>0 %}
                            <optgroup label="{{ item.name }}">
                                {% for item2 in item.category %}
                                    <option value="{{ item2.id }}"  {% if item2.id in categorie %} selected {% endif %}>{{ item2.name }}</option>
                                {% endfor %}
                            </optgroup>
                        {% else %}
                            <option value="{{ item.id }}" {% if item.id in categorie %} selected {% endif %}>{{ item.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="span9">
        <div class="control-group ">
            <label class="control-label required"  for="back_dashbundle_sms_Deal">Deals</label>
            <div class="controls">
                <select name="deals[]" id="deal{{ id }}" multiple="multiple" size="12">
                </select>
            </div>
        </div>
    </div>
</div>
</div>
</div>
