{% extends '::baseBack.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body -%}
    <div class="content">
        <div class="container-fluid">

            <!-- ==================== COMMON ELEMENTS ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Modifier client</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            <div class="container-fluid">

                                
                                    <form class="form-horizontal contentForm" method="POST"
                                          action="{{ path('back_client_edit',{'id':client.id}) }}">


                                        {{ form_row(form.title) }}
                                        {{ form_row(form.fname) }}
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.cin) }}
                                        {{ form_row(form.datebirth) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.phone) }}
<div class="control-group ">
                                                <label for="back_partnerbundle_sellingpoint_nbrEmployee" class="control-label">Mot de passe</label>
                                                <div class="controls">
                                                    <input type="password" name="password" id="password" value=""   >
                                                </div>
                                            </div>


                                    <div class="formFooter">
                                        <button type="submit" class="btn btn-success"><i class="icon-ok"> </i> Valider
                                        </button>
                                        <button type="reset" class="btn btn-danger"><i class="icon-remove"> </i>
                                            Effacer
                                        </button>
                                        <a href="{{ path('back_client') }}">
                                            <button class="btn btn-inverse" type="button"><i class="icon-list"></i>
                                                Liste
                                            </button>
                                        </a>
                                        {{ form_widget(form._token) }}
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block stylesheets %}


        <style type="text/css">


            .pick-a-color {
                height: 34px !important;
            }

        </style>
    {% endblock %}
    {% block javascripts %}
	 <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
        <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
        <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
         <script>


            $("#commandebundle_client_datebirth").inputmask("date");

        
            $(document).ready(function () {
                $("#back_commandebundle_bank_name").attr({
                    'data-validation': 'required'
                });
                $.validate();
            });
        </script>
    {% endblock %}
