{% extends '::baseBack.html.twig' %}
{% block body -%}
<!-- ==================== PAGE CONTENT ==================== -->
<div class="content">

    <!-- ==================== WIDGETS CONTAINER ==================== -->
    <div class="container-fluid">
        <a href="{{ path('add_reponseRequiredInfo_manager') }}"><button class="btn btn-danger" type="button">Ajouter</button></a>

        <!-- ==================== END OF ROW ==================== -->
        <div class="row-fluid">
            <div class="span12">
                <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                <div class="containerHeadline">
                    <i class="icon-table"></i><h2>Liste des réponses</h2>
                </div>
                <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->

                <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                <div class="floatingBox table">
                    <div class="container-fluid">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Réponses</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                    {% for entity in pagination %}
                                <tr>
                                    <td><a href="{{ path('update_reponseRequiredInfo_manager', { 'id': entity.id }) }}">{{ entity.response }}</a></td>
                                    <td class="actions">
                                        <a href="{{ path('update_reponseRequiredInfo_manager', { 'id': entity.id }) }}">
                                            <span class="label green" data-original-title="" title="">
                                                <i class="icon-pencil edit" style="opacity: 1;"></i>
                                            </span>
                                        </a>
                                        <a href="javascript:confirmdeletbox('{{ path('delete_reponseRequiredInfo_manager', {'id': entity.id}) }}')">

                                            <span class="label red" data-original-title="" title="">
                                                <i class="icon-trash delete" style="opacity: 0.7;"></i>
                                            </span>
                                        </a>


                                    </td>
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>  
                             {# display navigation #}
                        <div class="pagination pagination-large" style="text-align: center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
</div>

<!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
