{% extends '::baseBack.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body -%}
    <div class="content">
        <div class="container-fluid">

            <!-- ==================== COMMON ELEMENTS ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Ajouter un partenaire</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">

                            <div class="container-fluid">
                                {{ form_start(form, {'method': 'POST','attr': {'class': 'form-horizontal contentForm'}}) }}
                                {{ form_row(form.name, {'attr': {'onchange':'this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);'}}) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.bank) }}
                                {{ form_row(form.agency) }}
                                {{ form_row(form.rib) }}
                                {{ form_row(form.address) }}
                                <div class="control-group">
                                    <label for="gouvernorat" class="control-label">Gouvernorat</label>
                                    <div class="controls">
                                        <select name="gouvernorat" onChange="javascript:sendData(''+this.value+'')">
                                            {% for item in gouvernorat %}
                                                <option value="{{ item.id }}" {% if id is defined %}
                                                    {% if item.id ==  partner.localite.parent.parent.id and ville != null %} selected {% endif %} {% endif %}>{{ item.name }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="control-group" id="delegation" >
                                    <label for="gouvernorat" class="control-label">Délegations</label>
                                    <div class="controls" id="delegation1">
                                        <select name="delegation" required="required" id="delegation2" onChange="javascript:sendData2(''+this.value+'')">
                                            {% if ville != null %}<option value="{{ partner.localite.parent.id }}" selected>{{ partner.localite.parent }}</option>{% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group" id="localite" >
                                    <label for="gouvernorat" class="control-label">Ville</label>
                                    <div class="controls" id="delegation4">
                                        <select name="ville" id="delegation3"  required="required" onChange="javascript:afficherCodePostale(''+this.value+'')">
                                            {% if ville != null %}<option value="{{ partner.localite.id }}" selected>{{ ville }}</option>{% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group ">
                                    <label for="back_partnerbundle_sellingpoint_nbrEmployee" class="control-label">Code postale</label>
                                    <div class="controls">
                                        <input type="text" name="cpadd" id="cpadd" value="{{ cp }}" required="required" readonly="readonly" >
                                    </div>
                                </div>
                                {{ form_row(form.phone) }}
                                {{ form_row(form.tva) }}
                                {{ form_row(form.profilePictureFile) }}
                                        {{ form_row(form.web_site) }}
                                        {{ form_row(form.fbpage) }}
                                        {{ form_row(form.region) }}
                                        {{ form_row(form.category) }}
                                <div class="formFooter">
                                    <button type="submit" class="btn btn-success"><i class="icon-ok"> </i> Valider
                                    </button>
                                    <button type="reset" class="btn btn-danger"><i class="icon-remove"> </i> Effacer
                                    </button>
                                    <a href="{{ path('back_partner') }}">
                                        <button class="btn btn-inverse" type="button"><i class="icon-list"></i> Liste
                                        </button>
                                    </a>
                                    {{ form_widget(form._token) }}
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
     <script type="text/javascript" src="{{ asset('tinymce/tinymce.min.js') }}"></script>
     <script>

         $(document).ready(function () {
             $("#back_partnerbundle_partner_name").attr({
                 'data-validation': 'length',
                 'data-validation-length': 'min4'
             });
             $("#back_partnerbundle_partner_email").attr('data-validation', 'email');
             $("#back_planningbundle_planner_datenaisse").attr({
                 'data-validation': 'birthdate',
                 'data-validation-format': 'dd/mm/yyyy'
             });
             $("#back_planningbundle_planner_cin").attr({'data-validation': 'length number', 'data-validation-length': '8-8'});
             $("#back_planningbundle_planner_datecin").attr({
                 'data-validation': 'birthdate',
                 'data-validation-format': 'dd/mm/yyyy'
             });
             $("#back_partnerbundle_partner_rib").attr({'data-validation': 'length number', 'data-validation-length': '20-20'});
             $("#back_partnerbundle_partner_phone").attr({'data-validation': 'length number', 'data-validation-length': '8-8'});
             $("#back_partnerbundle_partner_web_site").attr({'data-validation': 'url','value':'http://'});
             $("#back_partnerbundle_partner_fbpage").attr({'data-validation': 'url','value':'http://'});
             $("#back_planningbundle_planner_phoneurg").attr({'data-validation': 'length number', 'data-validation-length': '8-8'});
             $.validate();
         });

         function afficherCodePostale(id)
         {
             $.ajax({
                 type: "POST",
                 dataType: "json",
                 url: '{{path('view_cp')}}',
                 data: "id=" + id,
                 success: function (msg) {
                     $("#cpadd").val(msg);


                 }
             });
         }

         function sendData3(id)
         {

             $.ajax({
                 type: "POST",
                 dataType: "json",
                 url: '{{path('listdelegation')}}',
                 data: "id=" + id,
                 success: function (msg) {
                     var str = "<option value=''></option>";
                     $("#delegation1").show();
                     $.each(msg, function(index, value) { // pour chaque noeud JSON
                         // on ajoute l option dans la liste
                         //$("delegation2").append('<option value="'+ value.id +'">'+ value.name +'</option>');
                         str += "<option value='"+ value.id+"'>"+ value.name+"</option>";

                     });
                     // $('#delegation3').html(str);

                 }
             });
         }
         function sendData2(id)
         {

             $.ajax({
                 type: "POST",
                 dataType: "json",
                 url: '{{path('listdelegation')}}',
                 data: "id=" + id,
                 success: function (msg) {
                     var str = "<option value=''></option>";
                     $("#localite").show();
                     $.each(msg, function(index, value) { // pour chaque noeud JSON
                         // on ajoute l option dans la liste
                         //$("delegation2").append('<option value="'+ value.id +'">'+ value.name +'</option>');
                         str += "<option value='"+ value.id+"'>"+ value.name+"</option>";
                     });
                     $('#delegation3').html(str);

                 }
             });
         }
         function sendData(id)
         {

             $.ajax({
                 type: "POST",
                 dataType: "json",
                 url: '{{path('listdelegation')}}',
                 data: "id=" + id,
                 success: function (msg) {
                     var str = "<option value=''></option>";
                     $("#delegation").show();
                     $.each(msg, function(index, value) { // pour chaque noeud JSON
                         // on ajoute l option dans la liste
                         //$("delegation2").append('<option value="'+ value.id +'">'+ value.name +'</option>');
                         str += "<option value='"+ value.id+"'>"+ value.name+"</option>";
                     });
                     $('#delegation2').html(str);

                 }
             });
         }
     </script>
 {% endblock %}
