{% extends '::baseBack.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body -%}
    <div class="content">
        <div class="container-fluid">

            <!-- ==================== COMMON ELEMENTS ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i><h2>Ajouter un protocole</h2>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->
                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            {{ form_start(form, {'method': 'POST','attr': {'class': 'form-horizontal contentForm'}}) }}

                            {{ form_row(form.datep,{'attr':{'class':'datepickerField'}}) }}
                            {{ form_errors(form.datep) }}
                            {{ form_row(form.entreprise,{'attr':{'required':'required'}}) }}
                            {{ form_widget(form.datep) }}
                            {{ form_row(form.status) }}

                                    <div class="formFooter">
                                        <button type="submit" class="btn btn-success"><i class="icon-ok"> </i> Valider</button>
                                        <button type="reset" class="btn btn-danger"><i class="icon-remove"> </i> Effacer</button>

                                        {{ form_widget(form._token) }}
                                    </div>
                                </form>
                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- masked inputs -->
    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('RessourcesBack/js/lib/jquery-inputmask/jquery.inputmask.date.extensions.js') }}"></script>
    <script>
	$(".datepickerField").inputmask("date");

    </script>
{% endblock %}