{% extends '::baseBack.html.twig' %}
{% block body -%}
    <!-- ==================== PAGE CONTENT ==================== -->
    <div class="content">
        <!-- ==================== WIDGETS CONTAINER ==================== -->
        <div class="container-fluid">
            {% if app.user.roles[0]!='SERVICECLIENT' and app.user.roles[0]!='REDACTEUR' and app.user.roles[0]!='CHEFSERVICECLI'  and app.user.roles[0]!= 'DAF'  and app.user.roles[0]!= 'FINANCIER'  %}
            <a href="{{ path('dash_contact_partner_update', { 'id': entity.id ,'partid':partid}) }}" class="btn btn-info"><i class="icon-pencil"></i> Modifier</a>

{% endif %}

                <a href="{{ path('dash_partner_show',{ 'id': partid }) }}"><button class="btn btn-inverse pull-right" type="button" id="form_submit"><i class="icon-list"></i> Liste</button></a>


            <!-- ==================== END OF ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== DEFAULT TABLE HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-table"></i><h2>Contact : {{ entity.firstname }} {{ entity.lastname }}</h2>
                    </div>
                    <!-- ==================== END OF DEFAULT TABLE HEADLINE ==================== -->
                    <!-- ==================== DEFAULT TABLE FLOATING BOX ==================== -->
                    <div class="floatingBox table">
                        <div class="container-fluid">
                            <table class="table table-bordered">
                                <tbody>

                                <tr>
                                    <th>Nom</th>
                                    <td>{{ entity.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ entity.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Téléphone</th>
                                    <td>{{ entity.phone }}</td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>{{ entity.mail }}</td>
                                </tr>
                                <tr>
                                    <th>Poste</th>
                                    <td>{{ entity.job }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==================== END OF WIDGETS CONTAINER ==================== -->
    </div>
    <!-- ==================== END OF PAGE CONTENT ==================== -->
{% endblock %}
