{% extends '::base.html.twig' %}
{% block stylesheets %}
    <style>
        .fa{
            color:#E10079;
            font-size: 1.5em;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block javascripts %}
<!-- infinite scroll script -->
	<script src="{{ asset('public/js/jquery-ias.min.js') }}"></script>
	<script>
	

	 $(document).ready(function () {
		var ias = $.ias({
		  container:  ".ddcontainer",
		  item:       ".dditem",
		  pagination: ".pagination",
		  next:       ".next a",
		  delay:      1250  
		});

		//ias.extension(new IASSpinnerExtension());            // shows a spinner (a.k.a. loader)
		ias.extension(new IASSpinnerExtension({src: '/public/images/loading.gif' }));
		//ias.extension(new IASTriggerExtension({})); // shows a trigger after page 3
		ias.extension(new IASTriggerExtension({html: '<div class="ias-trigger ias-trigger-next" style="text-align: center; cursor: pointer;"><a class="btn btn-primary">Afficher plus</a></div>', offset: 4})); // override text show more
		/*
		ias.extension(new IASNoneLeftExtension({
		  text: 'Plus aucun deal à afficher'      // override text when no pages left
		}));*/
	});
	</script>
{% endblock %}
{% block body %}
    {% if pagination|length>0 %}
	
    <div id="shows" class="row ddcontainer">
        {% for item in pagination %}
		{% if item.seoLink %}
{% set permelink = item.seoLink %}
{% else %}
{% set permelink = item.title %}
{%endif%}
            {% set link=path('deal_detail',  {'region':(app.session.get('region')|getAlias),'categorie':(item.planning.categoryId|getAlias), 'id': item.id ,'name':(permelink|getAlias)}) %}
            <div class="col-md-6 show dditem">
                <a href="{{ link }}"><img src="{{ asset(item.image1| imagine_filter('homedeal')) }}" class="img-responsive" alt="{{ item.title }}" /></a>
				
                <div class="details">
	                <p class="dealTitle"><a href="{{ link }}">{{ item.title }}</a></p>
	                <p><i class="fa fa-tags teal"></i><span class="dark-gray">
					

					{% set pointVente=item.planning.defaultannexe.protocol.user.sellingpoint %}
					       {% if pointVente|length != 0 %}

                          {% if pointVente[0].visible == 0   %}
                                                                    {{ pointVente[0].name }}
                                                            {% else %}
                                                                {{ pointVente[0].visibleAdress }}
                                                            {% endif %}
                                                            {% endif %}
															
					</span>  <i class="fa fa-map-marker teal"></i><span class="dark-gray">{{ item.planning.regionId }}</span></p>
	                <div class="row">
		                <div class="teal bold col-md-3 col-sm-3 col-xs-4 border">
						
						{% set ref=item.planning.defaultannexe.reference[0] %}
		                    {{ ref.bigdealPrice }}<sup>DT</sup><span class="bottom dark-gray">{{ ref.shopPrice }}<sup>DT</sup></span>
		                
						 </div>
						 <div class="teal bold col-md-3 col-sm-3 col-xs-3 BigfidPrice">
		                	{{ ref.bigdealPrice|getBigfid }} <i class="flaticon-computerchip"></i>
		                </div>
						 <div class="teal bold col-md-2 col-sm-2 col-xs-3"><i class="flaticon-group2"></i> {{ item.id|nombreAcheteurs }}</div>
		                
		                <div class="col-md-4 col-xs-2">
	                		<a href="{{ link }}" class="btn"><i class="fa fa-arrow-circle-right hidden-md hidden-sm"></i><span class="hidden-xs">Voir le Deal</span></a>
	                	</div>
	                </div>
	            </div>
            </div>
            {% if loop.index%2==0 %}<div class="clearfix"></div>{% endif %}

        {% endfor %}
        <div style="clear: both;"></div>
        <div class="row col-md-12">
            <div class="pagination col-md-12" style="text-align: center;">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
        {% else %}
            <div class="alert alert-danger">Cette région ne contient pas des deals</div>
    {% endif %}
	
{% endblock %}