{% extends '::baseBack.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}
{% block body -%}
    <div class="content">
        <div class="container-fluid">

            <!-- ==================== COMMON ELEMENTS ROW ==================== -->
            <div class="row-fluid">
                <div class="span12">
                    <!-- ==================== TEXT INPUTS HEADLINE ==================== -->
                    <div class="containerHeadline">
                        <i class="icon-edit"></i>

                        <h2>Ajouter/Modifier une banque</h2>

                        <div class="controlButton pull-right"><i class="icon-remove removeElement"></i></div>
                        <div class="controlButton pull-right"><i class="icon-caret-down minimizeElement"></i></div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS HEADLINE ==================== -->

                    <!-- ==================== TEXT INPUTS FLOATING BOX ==================== -->
                    <div class="floatingBox">
                        <div class="container-fluid">
                            <h2>Banque </h2>

                            <div class="container-fluid">

                                {% if bank is not defined %}
                                <form class="form-horizontal contentForm" method="POST"
                                      action="{{ path('add_bank_manager') }}">
                                {% else %}
                                    <form class="form-horizontal contentForm" method="POST"
                                          action="{{ path('update_bank_manager',{'id':bank.id}) }}">
                                    {% endif %}


                                        {{ form_row(form.name) }}



                                    <div class="formFooter">
                                        <button type="submit" class="btn btn-success"><i class="icon-ok"> </i> Valider
                                        </button>
                                        <button type="reset" class="btn btn-danger"><i class="icon-remove"> </i>
                                            Effacer
                                        </button>
                                        <a href="{{ path('back_bank') }}">
                                            <button class="btn btn-inverse" type="button"><i class="icon-list"></i>
                                                Liste
                                            </button>
                                        </a>
                                        {{ form_widget(form._token) }}
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- ==================== END OF TEXT INPUTS FLOATING BOX ==================== -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block stylesheets %}


        <style type="text/css">


            .pick-a-color {
                height: 34px !important;
            }

        </style>
    {% endblock %}
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $("#back_commandebundle_bank_name").attr({
                    'data-validation': 'required'
                });
                $.validate();
            });
        </script>
    {% endblock %}
